.nunu{
    color:orange;
    background-color: brown;

}
p{
    color: peru;
}
.nuna{
    color: red;
    background-color: brown;
}
p{
    color: deeppink;
}
.nuno{
    color: darkblue;
    background-color: brown;
}
p{
   color: darkslateblue; 
}
.h   ul{
    color: brown;
    background-color: cornflowerblue;
}